rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // User and AudioEntry data is private to the user
    match /personalData/{appId}/users/{uid}/{collectionName}/{docId} {
      allow get: if uid == request.auth.uid;
      allow list: if uid == request.auth.uid && request.query.limit <= 100;
      allow write: if uid == request.auth.uid;
    }

    // Tag data is public
    match /publicData/{appId}/{collectionName}/{docId} {
      allow get: if true;
      allow list: if request.query.limit <= 100;
      allow write: if true;
    }
  }
}